.banner {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        'banner1 banner1'
        'banner2 banner4'
        'banner3 banner4';
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 720px) {
    .banner {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, max-content);
        grid-template-areas: 
            'banner1 banner2 banner4'
            'banner1 banner3 banner4';
    }
}