.banner {
    display: grid;
    gap: 1rem;
    grid-area: banner;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
        'banner1 banner1'
        'banner2 banner4'
        'banner3 banner4';
}

@media screen and (min-width: 720px) {
    .banner {
        gap: 1rem 1.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, max-content);
        grid-template-areas: 
            'banner1 banner1 banner2 banner4'
            'banner1 banner1 banner3 banner4';
    }
}