.menu__item-logo {
    grid-area: logo;
}

.menu__item-programacao {
    grid-area: programacao;
}

.menu__item-categorias {
    grid-area: categorias;
}

.menu__item-local {
    grid-area: local;
    align-items: center;
    display: flex;
}

.menu__item-busca {
    grid-area: busca;
    width: 100%;
}

.menu__item-local::after,
.menu__item-local::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    height: 18px;
    transition: 3.3s;
    width: 18px;
}

.menu__item-local::before {
    background: url('../../img/icone-localização.svg') center / auto no-repeat;
    margin-right: 0.5rem;
}

.menu__item-local::after {
    background: url('../../img/expandir-mais.svg') center / auto no-repeat;
    margin-left: 0.5rem;
}