.categorias__titulo {
    color: var(--preto);
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    line-height: 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 720px) {
    .categorias__titulo {
        margin-bottom: 1.5rem;
    }
}