@import url('./cabecalho/cabecalho.css');
@import url('./cabecalho/menu.css');
@import url('./cabecalho/menu-item.css');
@import url('./cabecalho/menu-busca.css');

@import url('./principal/principal.css');

@import url('./principal/banner/banner.css');
@import url('./principal/banner/banner-imagem.css');

@import url('./principal/categorias/categorias.css');
@import url('./principal/categorias/categorias-titulo.css');
@import url('./principal/categorias/categorias-lista.css');
@import url('./principal/categorias/categorias-item.css');

@import url('./principal/destaques/destaques.css');
@import url('./principal/destaques/carrossel-navegacao.css');
@import url('./principal/destaques/carrossel-titulo.css');
@import url('./principal/destaques/carrossel-barra.css');
@import url('./principal/destaques/carrossel-botao.css');

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --amarelo: #FFC756;
    --azul: #7F8FFE;
    --branco: #FFFFFF;
    --cinza: #959595;
    --cinza-claro: #C2C2C2;
    --laranja: #F66139;
    --preto: #000000;
    --verde: #56B78C;

    --fonte-primaria: 'Fjalla One', sans-serif;
    --fonte-secundaria: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}