.agenda {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    grid-area: agenda;
    margin-bottom: 2rem;
}

@media screen and (min-width: 720px) {
    .agenda {
        gap: 1.5rem 0;
        margin-bottom: 1.5rem;
    }
}