.agenda__botao-card {
    background: var(--preto);
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    height: 32px;
    line-height: 18px;
    width: 100%;
    max-width: 145px;
}

@media screen and (min-width: 1440px) {
    .agenda__botao-card {
        height: 40px;
        max-width: 156px;
    }
}