.agenda__card {
    flex-grow: 1;
    width: 310px;

    display: grid;
    grid-template-columns: 46.875% 53.125%;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: 
        'imagem imagem'
        'data atracao';
}

.agenda__card--oculto {
    display: none;
}

@media screen and (min-width: 1440px) {

    .agenda__card {
        width: 384px;
    }

    .agenda__card--oculto {
        display: grid;
    }
}