.carrossel__imagem {
    align-items: flex-end;
    background-color: var(--preto);
    display: flex;
    height: 271px;
    padding-bottom: 1rem;
    width: 100%;
}

.carrossel__imagem:nth-of-type(1) {
    background: url('../../../img/destaque-360.png') center center / cover no-repeat;
}

@media screen and (min-width: 720px) {

    .carrossel__imagem {
        padding-bottom: 1.5rem;
    }

    .carrossel__imagem:nth-of-type(1) {
        background-image: url('../../../img/destaque-720.png');
    }
}