.eventos__card {
    background: var(--fundo-card);
    flex-grow: 1;
    font-family: var(--fonte-secundaria);
    line-height: 20px;
    width: 307px;

    display: grid;
    grid-template-areas: 
        'imagem imagem'
        'titulo titulo'
        'data data'
        'local botao';
}

.eventos__card--oculto {
    display: none;
}

@media screen and (min-width: 1440px) {
    .eventos__card {
        width: 282px;
    }

    .eventos__card--oculto {
        display: grid;
    }
}