.eventos__imagem {
    grid-area: imagem;
    height: auto;
    max-height: 480px;
    width: 100%;
}

@media screen and (min-width: 720px) {
    .eventos__imagem {
        margin-bottom: 0.625rem;
    }
}