.eventos__card {
    background: var(--fundo-card);
    flex-grow: 1;
    font-family: var(--fonte-secundaria);
    line-height: 20px;
    min-height: 318px;
    padding-bottom: 1rem;
    width: 307px;

    /* grid */
    align-items: end;
    display: grid;
    gap: 1rem 0;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(3, max-content) 1fr;
    grid-template-areas: 
        'imagem imagem'
        'titulo titulo'
        'data data'
        'local botao';
}

.eventos__card--oculto {
    display: none;
}

@media screen and (min-width: 720px) {
    .eventos__card {
        align-items: center;
        gap: 0.375rem 0;
        grid-template-rows: max-content repeat(2, 1fr) max-content;
    }
}

@media screen and (min-width: 1440px) {
    .eventos__card {
        min-height: 292px;
        width: 282px;
    }

    .eventos__card--oculto {
        display: grid;
    }
}